asgiref==3.8.1
blinker==1.9.0
build==1.2.2.post1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
Django==5.2
Flask==3.1.0
Flask-MySQL==1.6.0
Flask-MySQLdb==2.0.0
Flask-SQLAlchemy==3.1.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.0.3
Markdown==3.8
markdown2==2.5.3
MarkupSafe==3.0.2
mysql==0.0.3
mysqlclient==2.2.7
packaging==24.2
Pillow
pillow==11.0.0
pip-tools==7.4.1
pip_and_pip_tools @ file:///C:/Users/asus/Downloads/pip_and_pip_tools-7.0.0-py2.py3-none-any.whl#sha256=500473b261cff7dde48481757aa825cff9a5a4fa1d9ab24c4fe1f91372e892bd
pluggy==1.5.0
PyMySQL==1.1.1
pyproject_hooks==1.2.0
pyserial==3.5
pytest==8.3.3
requests==2.32.3
SQLAlchemy==2.0.38
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
Werkzeug==3.1.3
