{% extends "care/index.html" %}
{% block body %}
<section class="home">
        <div class="home-img">
        </div>
        <div class="middle">
            
                <div class="home-content">
                    <h1 class="span">Bienvenue à <span>DaryCare</span></h1>
                    <p id="par-main" class="typin">DaryCare est une plateforme innovante dédiée aux services infirmiers en ligne, conçue pour répondre rapidement et efficacement à vos besoins de santé.
Notre équipe d’infirmiers et d’infirmières qualifiés est disponible à distance pour vous offrir des soins personnalisés, un accompagnement médical, et des conseils professionnels.</p>
            <div class="santé ">
                <p id="p" >Votre santé est notre priorité</p>
            </div>       
                <div class="botom">
                        <div class="social-icons">
                            <a href="https://www.instagram.com/3am_chadli?igsh=MTZrdDVsOTc1ZmFycw==" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://t.me/Akali_is_taken" target="_blank">
                                <i class="fab fa-whatsapp"></i>
                            </a>
                            <a href="https://discord.com/users/844312859491041280" target="_blank">
                                <i class="fab fa-facebook"></i>
                            </a>
                            
                        </div>        
                </div>
            </div>
           

        </div>
    </section>
{% endblock %}